You have to work on the files:
*  [Books](https://github.com/gdv/foundationsCS/raw/master/progetti/2021/Books.csv.gz)
*  [Book ratings](https://github.com/gdv/foundationsCS/raw/master/progetti/2021/Book-Ratings.csv.gz)
*  [Users](https://github.com/gdv/foundationsCS/raw/master/progetti/2021/Users.csv.gz)
*  [Goodbooks books](https://github.com/gdv/foundationsCS/raw/master/progetti/2021/goodbooks.csv.gz)
*  [Goodbooks ratings](https://github.com/gdv/foundationsCS/raw/master/progetti/2021/goodbooks-ratings.csv.gz)

### Notes

1.    It is mandatory to use GitHub for developing the project.
1.    The project must be a jupyter notebook.
1.    There is no restriction on the libraries that can be used, nor on the Python version.
1.    To read those files, you need to use the `encoding = 'latin-1'` option.
1.    All questions on the project **must** be asked in a public channel on [Zulip](https://focs.zulipchat.com), otherwise no  answer will be given.

# **LIBRARY**

In [ ]:
import pandas as pd

In [ ]:
books = pd.read_csv('https://github.com/gdv/foundationsCS/raw/master/progetti/2021/Books.csv.gz', sep = ';', encoding = 'latin_1', low_memory = False)

In [ ]:
books.head()

         ISBN  ...                                        Image-URL-L
0  0195153448  ...  http://images.amazon.com/images/P/0195153448.0...
1  0002005018  ...  http://images.amazon.com/images/P/0002005018.0...
2  0060973129  ...  http://images.amazon.com/images/P/0060973129.0...
3  0374157065  ...  http://images.amazon.com/images/P/0374157065.0...
4  0393045218  ...  http://images.amazon.com/images/P/0393045218.0...

[5 rows x 8 columns]

In [ ]:
book_ratings = pd.read_csv('https://github.com/gdv/foundationsCS/raw/master/progetti/2021/Book-Ratings.csv.gz', sep = ';', encoding = 'latin_1', low_memory = False)

In [ ]:
book_ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [ ]:
users = pd.read_csv('https://github.com/gdv/foundationsCS/raw/master/progetti/2021/Users.csv.gz', sep = ';', low_memory = False)

In [ ]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [ ]:
good_books = pd.read_csv('https://github.com/gdv/foundationsCS/raw/master/progetti/2021/goodbooks.csv.gz', encoding = 'latin_1',  low_memory = False)

In [ ]:
good_books.head()

   book_id  ...                                    small_image_url
0        1  ...  https://images.gr-assets.com/books/1447303603s...
1        2  ...  https://images.gr-assets.com/books/1474154022s...
2        3  ...  https://images.gr-assets.com/books/1361039443s...
3        4  ...  https://images.gr-assets.com/books/1361975680s...
4        5  ...  https://images.gr-assets.com/books/1490528560s...

[5 rows x 23 columns]

In [ ]:
good_ratings = pd.read_csv('https://github.com/gdv/foundationsCS/raw/master/progetti/2021/goodbooks-ratings.csv.gz', encoding = 'latin_1', low_memory = False)

In [ ]:
good_ratings.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

### 1. Normalize the location field of *Users* dataset, splitting into city, region, country.

In [ ]:
city_list = list()
territory_list = list()
state_list = list()
for location in users['Location']: #iterazione nella colonna Location
  location_list = location.split(',') #Splitto in base alla virgola e creo lista
  location_list=[location_list[i].strip() for i in range(0,len(location_list))]#tolgo spazi inizio e fine stringa
 
  if len(location_list)==1:
    city_list.append(location_list[0])
    territory_list.append(' ')
    state_list.append(' ')
  elif len(location_list)==2:
    city_list.append(location_list[0])
    territory_list.append(location_list[1])
    state_list.append(' ')
  elif len(location_list)==3:
    city_list.append(location_list[0])
    territory_list.append(location_list[1])
    state_list.append(location_list[2]) 
  else:
    city_list.append(location_list[0])
    territory_list.append(location_list[1])
    state_list.append(location_list[2]) 
    
users['City']=city_list
users['Territory']=territory_list
users['State']=state_list

In [ ]:
users.head()

   User-ID                            Location  ...        Territory           State
0        1                  nyc, new york, usa  ...         new york             usa
1        2           stockton, california, usa  ...       california             usa
2        3     moscow, yukon territory, russia  ...  yukon territory          russia
3        4           porto, v.n.gaia, portugal  ...         v.n.gaia        portugal
4        5  farnborough, hants, united kingdom  ...            hants  united kingdom

[5 rows x 6 columns]

### 2. For each book in the *Books* dataset, compute its average rating.

In [ ]:
book_merge_rating=pd.merge(books, book_ratings, on='ISBN')#Effettuo il merge tra il dataset books e book_ratings per ottenere i punteggi di rating

es2 = pd.DataFrame(book_merge_rating.groupby(['ISBN'], as_index=False)[['Book-Rating']].mean())#Calcolo la media dei rating condizionatamente all'ISBN

es2 = es2.rename(columns = {'Book-Rating':'Avarage_Book_Rating'})#Rinomino la colonna riferita alla media

es2

              ISBN  Avarage_Book_Rating
0       0000913154                  8.0
1       0001010565                  0.0
2       0001046438                  9.0
3       0001046713                  0.0
4       000104687X                  6.0
...            ...                  ...
270145  B000234N76                  0.0
270146  B000234NC6                  0.0
270147  B00029DGGO                  0.0
270148  B0002JV9PY                  0.0
270149  B0002K6K8O                  0.0

[270150 rows x 2 columns]

### 3. For each book in the *GoodBooks* dataset, compute its average rating.

In [ ]:
good_merge_rating=pd.merge(good_books, good_ratings, on='book_id', how='left')
pd.DataFrame(good_merge_rating.groupby(['book_id'], as_index=False)[['rating']].mean())

### OPPURE

good_books.groupby(['book_id'])[['average_rating']].mean()#la media delle medie è la media stessa

### OPPURE

good_books['average_rating']

0     4.34
1     4.44
2     3.57
3     4.25
4     3.89
      ...
94    4.06
95    3.88
96    3.98
97    4.22
98    3.87
Name: average_rating, Length: 99, dtype: float64

### 4. Merge together all rows sharing the same book title, author and publisher. We will call the resulting datset `merged books`. The books that have not been merged together will not appear in `merged books`.

In [ ]:
books2 = books.groupby(['Book-Title', 'Book-Author', 'Publisher'], as_index=False).count() #Effettuo un groupby per raggruppare i libri che presentano stesso titolo, autore e casa editrice
merged_books =pd.DataFrame(books2[books2['ISBN']>=2])[['Book-Title', 'Book-Author','Publisher', 'ISBN']]#prendo in considerazione solo i libri che presentano almeno due volte la stessa tupla
merged_book = merged_books.rename(columns = {'ISBN':'numero_edizioni'})
merged_book

                                               Book-Title  ... numero_edizioni
41                              !%@ (A Nutshell handbook)  ...               2
59      'A Hell of a Place to Lose a Cow': An American...  ...               2
255     10,000 dreams interpreted: A dictionary of dreams  ...               2
465                                      101 Famous Poems  ...               3
713                    15 Houseplants Even You Can't Kill  ...               2
...                                                   ...  ...             ...
265525                                                Zia  ...               2
265526                                                Zia  ...               2
265562                                Zimmermann Telegram  ...               2
265625  Zoids Chaotic Century (Zoids: Chaotic Century ...  ...               4
266117         Ã?Ã?berleben in der WÃ?ÃÂ¼ste Danakil.  ...               2

[4725 rows x 4 columns]

### 5. For each book in `merged books` compute its average rating.

The average is computed considering all books in `books` that have been merged.

In [ ]:
#per calcolare l'avarage rating necessitavamo di tutte le riedizioni di ogni libro, cioè degli ISBN

books2 = books.groupby(['Book-Title', 'Book-Author', 'Publisher']).count() #Effettuo un groupby per raggruppare i libri che presentano stesso titolo, autore e casa editrice
merged_books = books2[books2['ISBN']>=2] #prendo in considerazione solo i libri che presentano almeno due volte la stessa tupla
merged_books = pd.merge(books, merged_books, on=['Book-Title', 'Book-Author', 'Publisher'])#effettuo un merge tra le due tabelle books e merged_books
merged_books = merged_books.drop(['Year-Of-Publication_y','Image-URL-S_y', 'Image-URL-M_y', 'Image-URL-L_y', 'ISBN_y'], axis =1)#elimino le colonne che contengono i valori del precedente count
merged_book = merged_books.rename(columns = {'ISBN_x':'ISBN', 'Year-Of-Publication_x':'Year-Of-Publication','Image-URL-S_x':'Image-URL-S','Image-URL-M_x':'Image-URL-M','Image-URL-L_x':'Image-URL-L'})#aggiungo alle colonne già presenti in book la colonna "righe_condivise" dimostrando che i libri presentano la tupla almeno due volte
merged_book

            ISBN  ...                                        Image-URL-L
0     1558746218  ...  http://images.amazon.com/images/P/1558746218.0...
1     1558746226  ...  http://images.amazon.com/images/P/1558746226.0...
2     0684823802  ...  http://images.amazon.com/images/P/0684823802.0...
3     002086910X  ...  http://images.amazon.com/images/P/002086910X.0...
4     055321215X  ...  http://images.amazon.com/images/P/055321215X.0...
...          ...  ...                                                ...
9949  0834801981  ...  http://images.amazon.com/images/P/0834801981.0...
9950  0673992004  ...  http://images.amazon.com/images/P/0673992004.0...
9951  0673992012  ...  http://images.amazon.com/images/P/0673992012.0...
9952  0805076557  ...  http://images.amazon.com/images/P/0805076557.0...
9953  0805076476  ...  http://images.amazon.com/images/P/0805076476.0...

[9954 rows x 8 columns]

In [ ]:
#Media calcolata in base al titolo
rat_merged_books = pd.merge(merged_book, book_ratings, on = 'ISBN', how = 'left')
pd.DataFrame(rat_merged_books.groupby(['Book-Title']).mean()[['Book-Rating']])

#OPPURE abbiamo calcolato la media del rating condizionatamente alla pubblicazione

rat_merged_books = pd.merge(merged_book, book_ratings, on = 'ISBN', how = 'left')
sub = pd.DataFrame(rat_merged_books.groupby(['Book-Title','ISBN']).mean()[['Book-Rating']]).rename(columns={'Book-Rating':'Book_Rating_AVG'})
sub.reset_index(inplace = True)
sub

                                             Book-Title  ... Book_Rating_AVG
0                             !%@ (A Nutshell handbook)  ...        6.000000
1                             !%@ (A Nutshell handbook)  ...        0.000000
2     'A Hell of a Place to Lose a Cow': An American...  ...        0.000000
3     'A Hell of a Place to Lose a Cow': An American...  ...        3.400000
4     10,000 dreams interpreted: A dictionary of dreams  ...        7.250000
...                                                 ...  ...             ...
9949  Zoids Chaotic Century (Zoids: Chaotic Century ...  ...       10.000000
9950  Zoids Chaotic Century (Zoids: Chaotic Century ...  ...       10.000000
9951  Zoids Chaotic Century (Zoids: Chaotic Century ...  ...       10.000000
9952         Ã?Ã?berleben in der WÃ?ÃÂ¼ste Danakil.  ...        5.000000
9953         Ã?Ã?berleben in der WÃ?ÃÂ¼ste Danakil.  ...        2.666667

[9954 rows x 3 columns]

### 6. For each book in `merged books` compute the minimum and maximum of the average ratings over all corresponding books in the `books` dataset.

Hence for each book in `merged books` we will have exactly two values (a minimum and a maximum)

In [ ]:
#I libri di merge_books sono già un sottoinsieme di books
min_sub=sub.groupby(['Book-Title'], as_index=False).min()#ragruppo il dataframe precedentemente creato rispetto al titolo dei libri e calcolo la recensione con il valore minimo  per ciascun libro
max_sub=sub.groupby(['Book-Title'], as_index=False).max()#ragruppo nello stesso modo e calcolo la recensione con il valore massimo per ciascun libro
es6=pd.merge(min_sub, max_sub, on = 'Book-Title').drop(['ISBN_x', 'ISBN_y'], axis=1).rename(columns={'Book_Rating_AVG_x':'Book-Rating_AVG_MIN', 'Book_Rating_AVG_y':'Book-Rating_AVG_MAX'})#eseguo un merge tra i due dataframe creati 
es6

                                             Book-Title  ...  Book-Rating_AVG_MAX
0                             !%@ (A Nutshell handbook)  ...             6.000000
1     'A Hell of a Place to Lose a Cow': An American...  ...             3.400000
2     10,000 dreams interpreted: A dictionary of dreams  ...             7.250000
3                                      101 Famous Poems  ...             5.000000
4                    15 Houseplants Even You Can't Kill  ...             0.000000
...                                                 ...  ...                  ...
4613                            Zen in the Martial Arts  ...             5.666667
4614                                                Zia  ...             3.428571
4615                                Zimmermann Telegram  ...             4.000000
4616  Zoids Chaotic Century (Zoids: Chaotic Century ...  ...            10.000000
4617         Ã?Ã?berleben in der WÃ?ÃÂ¼ste Danakil.  ...             5.000000

[4618 rows x 3 columns]

### 7. For each book in `goodbooks`, compute the list of its authors. Assuming that the number of reviews with a text (column `work_text_reviews_count`) is split equally among all authors, find for each authors the total number of reviews with a text. We will call this quantity the *shared number of reviews with a text*.

In [ ]:
diz_autori={}
lista_numero_autori=[]
for i in range(0,99):
  diz_autori[good_books.loc[i, 'original_title']]=good_books.loc[i, 'authors']  #creo un dizionario in cui la chiave è il titolo del libro, il valore associato alla chiave sono gli autori che hanno scritto quel determinato libro
  lista_autori=good_books.loc[i, 'authors'].split(',')
  lista_numero_autori.append(len(lista_autori))  #creo una lista che serve nel punto dopo --> numero di autori che hanno scritto un determinato libro
#diz_autori

In [ ]:
good_books['numero_autori'] = lista_numero_autori #lista con numero di autori 
#Supponiamo che nel caso in cui ci siano più autori, le reviwes siano ugualmente distrubuite tra gli autori
good_books['shared_number_reviews_book'] = good_books['work_text_reviews_count'] // good_books['numero_autori'] #perciò divido il numero di recensioni per il numero di autori che hanno scritto un libro
good_books.head()

   book_id  goodreads_book_id  ...  numero_autori  shared_number_reviews_book
0        1            2767052  ...              1                      155254
1        2                  3  ...              2                       37933
2        3              41865  ...              1                       95009
3        4               2657  ...              1                       72586
4        5               4671  ...              1                       51992

[5 rows x 25 columns]

In [ ]:
shared_dataset = good_books[['authors', 'original_publication_year', 'shared_number_reviews_book', 'numero_autori']]  #per calcolare le shared number of reviews with a text considero queste colonne di interesse

for i in list(range(0,99)):  
  if shared_dataset.loc[i, 'numero_autori'] > 1:  # applico un for e per ogni riga di "shared_dataset" valuto se c'è più di un autore
    lista_split_autori = shared_dataset.loc[i, 'authors'].split(',')  # creo una lista che contiene gli autori 
    for autore in lista_split_autori:  # itero per ogni elemento della lista
      new_riga = [(autore, shared_dataset.loc[i, 'original_publication_year'], shared_dataset.loc[i, 'shared_number_reviews_book'], 1)]  
      # creo una nuova riga che contiene un singolo autore della lista, a cui è associato il corrispondente "original_publication_year" e "shared_number_reviews_book"; alla colonna "numero_autori" associo il valore 1
      dfNew = pd.DataFrame(new_riga, columns = ['authors', 'original_publication_year', 'shared_number_reviews_book', 'numero_autori'])  # aggiungo tale riga a un nuovo dataset
      shared_dataset=shared_dataset.append(dfNew,ignore_index=True)  # metto insieme i due dataset tramite append
shared_dataset = shared_dataset[shared_dataset['numero_autori'] == 1]  # considero solo le righe che hanno 1 come valore su "numero_autori"
del shared_dataset['numero_autori']  # elimino la colonna "numero_autori"
shared_dataset = shared_dataset.rename(columns={'authors':'autore'})
shared_dataset

                  autore  original_publication_year  shared_number_reviews_book
0        Suzanne Collins                     2008.0                      155254
2        Stephenie Meyer                     2005.0                       95009
3             Harper Lee                     1960.0                       72586
4    F. Scott Fitzgerald                     1925.0                       51992
5             John Green                     2012.0                      140739
..                   ...                        ...                         ...
164          Bram Stoker                     1897.0                        5754
165        Nina Auerbach                     1897.0                        5754
166        David J. Skal                     1897.0                        5754
167        Stieg Larsson                     2006.0                       15711
168          Reg Keeland                     2006.0                       15711

[141 rows x 3 columns]

In [ ]:
shared_totale = shared_dataset.groupby(['autore'], as_index=False)[['shared_number_reviews_book']].sum() #calcolo la somma totale delle "shared_number_reviews_book" raggruppando per autore 
shared_totale = shared_totale.rename(columns={'shared_number_reviews_book':'shared_number_reviews_with_text'}) #ora ho le shared number of reviews with a text per ogni autore
shared_totale

                       autore  shared_number_reviews_with_text
0              Alan R. Clarke                            27890
1     B.M. Mooyaart-Doubleday                             6941
2                Bernard Knox                             1620
3               CelÃ¢l Ãster                            15172
4               David J. Skal                             5754
..                        ...                              ...
105             Veronica Roth                           156896
106           William Golding                            26886
107           William Goldman                            15630
108       William Shakespeare                             7389
109               Yann Martel                            42962

[110 rows x 2 columns]

### 8. For each year of publication, determine the author that has the largest value of the shared number of reviews with a text.

In [ ]:
shared_dataset['original_publication_year'] = shared_dataset['original_publication_year'].astype(int) #trasformo l'anno di pubblicazione da float a intero, per una migliore comprensione del dato
somma_shared_reviews = shared_dataset.groupby(['original_publication_year', 'autore'], as_index=False)[['shared_number_reviews_book']].sum() 
#sommo le shared reviews raggruppando per anno di pubblicazione e autore, nel caso in cui un autore abbia pubblicato più libri nello stesso anno
somma_shared_reviews = somma_shared_reviews.rename(columns={'shared_number_reviews_book':'shared_number_reviews_author_year'})
somma_shared_reviews

     original_publication_year  ... shared_number_reviews_author_year
0                         -720  ...                              1620
1                         -720  ...                              1620
2                         -720  ...                              1620
3                         -720  ...                              1620
4                         -720  ...                              1620
..                         ...  ...                               ...
134                       2012  ...                             25287
135                       2012  ...                            121614
136                       2012  ...                            140739
137                       2012  ...                             55873
138                       2015  ...                             93600

[139 rows x 3 columns]

In [ ]:
#Creo il dataset in cui vi è l'anno ed il corrispondente numero massimo di recensioni
max_df=pd.DataFrame(somma_shared_reviews.groupby('original_publication_year')['shared_number_reviews_author_year'].max())
max_df

shared_max_year=pd.DataFrame()
for max in max_df['shared_number_reviews_author_year']:#iterazione entro la colonna 'numero di recensioni' del dataset appena creato
  temp = somma_shared_reviews[somma_shared_reviews['shared_number_reviews_author_year'] == max]#Estraggo tutte le righe che hanno valore massimo, in modo tale da avere anche le righe che riportano lo stesso valore massimo 
  shared_max_year = shared_max_year.append(temp, ignore_index = True)

shared_max_year = shared_max_year.rename(columns={'shared_number_reviews_author_year':'max_shared_number_reviews_year'})
shared_max_year.head(50)#Compaiono più autori per lo stesso anno nel caso in cui hanno avuto recensioni condivise e la frequenza di queste ultime corrisponde alla massima

    original_publication_year  ... max_shared_number_reviews_year
0                        -720  ...                           1620
1                        -720  ...                           1620
2                        -720  ...                           1620
3                        -720  ...                           1620
4                        -720  ...                           1620
5                        1595  ...                           7389
6                        1595  ...                           7389
7                        1811  ...                           3842
8                        1811  ...                           3842
9                        1811  ...                           3842
10                       1813  ...                          49152
11                       1818  ...                           6664
12                       1818  ...                           6664
13                       1818  ...                           6664
14                       1847  ...                          15606
15                       1847  ...                          15606
16                       1859  ...                           4364
17                       1859  ...                           4364
18                       1859  ...                           4364
19                       1868  ...                          17090
20                       1884  ...                           4149
21                       1884  ...                           4149
22                       1884  ...                           4149
23                       1891  ...                           9823
24                       1891  ...                           9823
25                       1897  ...                           5754
26                       1897  ...                           5754
27                       1897  ...                           5754
28                       1911  ...                          13054
29                       1925  ...                          51992
30                       1932  ...                          20095
31                       1936  ...                          16050
32                       1937  ...                          37653
33                       1945  ...                          35472
34                       1946  ...                           6134
35                       1946  ...                           6134
36                       1946  ...                           6134
37                       1946  ...                           6134
38                       1947  ...                           6941
39                       1947  ...                           6941
40                       1947  ...                           6941
41                       1949  ...                          15172
42                       1949  ...                          15172
43                       1949  ...                          15172
44                       1950  ...                          15186
45                       1951  ...                          44920
46                       1952  ...                           4348
47                       1952  ...                           4348
48                       1952  ...                           4348
49                       1953  ...                          30694

[50 rows x 3 columns]

### 9. Assuming that there are no errors in the ISBN fields, find the books in both datasets, and compute the difference of average rating according to the ratings and the goodratings datasets

In [ ]:
books_both_datasets = pd.merge(books[['ISBN', 'Book-Title', 'Book-Author']], good_books[['isbn', 'average_rating']], left_on='ISBN', right_on='isbn')
#faccio un merge tra 'books' e 'good_books' per prendere i libri che compaiono in entrambi i dataset
del books_both_datasets['isbn']
books_both_datasets

         ISBN  ... average_rating
0  1400032717  ...           3.85
1  014028009X  ...           3.75
2  014038572X  ...           4.06
3  1594480001  ...           4.26
4  043965548X  ...           4.53

[5 rows x 4 columns]

In [ ]:
both_ratings = pd.merge(books_both_datasets, book_ratings[['ISBN', 'Book-Rating']], on='ISBN') 
#faccio un merge tra il dataset appena creato e 'book_ratings', per avere in 'both_ratings' i ratings che fanno riferimento a 'books'. Per i good_books ho già una colonna che esprime l'average rating
both_ratings = both_ratings.rename(columns={'average_rating':'Avarege_rating_good_books', 'Book-Rating':'Rating_books'})
both_ratings.head()

         ISBN  ... Rating_books
0  1400032717  ...            8
1  1400032717  ...            9
2  1400032717  ...           10
3  1400032717  ...           10
4  1400032717  ...           10

[5 rows x 5 columns]

In [ ]:
mean_book_rating = both_ratings.groupby('ISBN').mean()['Rating_books'] #media dei ratings che fanno riferimento ai books, raggruppati per 'ISBN' che identifica il libro
mean_goodbooks_rating = both_ratings.groupby('ISBN').mean()['Avarege_rating_good_books'] #stesso calcolo di prima: tale calcolo serve esclusivamente per condensare in una riga il valore dell'average rating per i good_books 
mean_both_rating = pd.merge(mean_book_rating, mean_goodbooks_rating, on='ISBN') #mergiamo i due dataset appena creati, che avranno l'ISBN e le due medie come colonne 
mean_both_rating = mean_both_rating.rename(columns={'Rating_books':'Avarege_Rating_books'})
mean_both_rating['rating_difference'] = mean_both_rating['Avarege_Rating_books'] - mean_both_rating['Avarege_rating_good_books'] #calcoliamo la differenza delle due medie
mean_both_rating

            Avarege_Rating_books  Avarege_rating_good_books  rating_difference
ISBN
014028009X              3.751852                       3.75           0.001852
014038572X              4.460674                       4.06           0.400674
043965548X              3.533333                       4.53          -0.996667
1400032717              4.813187                       3.85           0.963187
1594480001              2.400000                       4.26          -1.860000

### 10. Split the users dataset according to the age. One dataset contains the users with unknown age, one with age 0-14, one with age 15-24, one with age 25-34, and so on.

In [ ]:
users['age_group'] = pd.cut(x = users['Age'], bins = [0, 14, 24, 34, 44, 54, 64, 74, 84,94,100,1000], labels=['0-14','15-24','25-34','35-44','45-54','55-64','65-74','75-84','85-94','95-100',"err"]) #utiliziamo la funziona cut per dividere la colonna 'age' in intervalli uguali a quanto richiesto nella consegna
users

        User-ID                            Location   Age age_group
0             1                  nyc, new york, usa   NaN       NaN
1             2           stockton, california, usa  18.0     15-24
2             3     moscow, yukon territory, russia   NaN       NaN
3             4           porto, v.n.gaia, portugal  17.0     15-24
4             5  farnborough, hants, united kingdom   NaN       NaN
...         ...                                 ...   ...       ...
278853   278854               portland, oregon, usa   NaN       NaN
278854   278855  tacoma, washington, united kingdom  50.0     45-54
278855   278856           brampton, ontario, canada   NaN       NaN
278856   278857           knoxville, tennessee, usa   NaN       NaN
278857   278858                dublin, n/a, ireland   NaN       NaN

[278858 rows x 4 columns]

In [ ]:
users0 = users[users['age_group'].isnull()] # creiamo un dataset contenente i soli valori nulli della colonna 'age_group'
users0.head()

   User-ID                            Location  Age age_group
0        1                  nyc, new york, usa  NaN       NaN
2        3     moscow, yukon territory, russia  NaN       NaN
4        5  farnborough, hants, united kingdom  NaN       NaN
6        7                 washington, dc, usa  NaN       NaN
7        8            timmins, ontario, canada  NaN       NaN

In [ ]:
users1 = users[users['age_group']== '15-24'] # creiamo un dataset contenente i valori tra 1 e 14 della colonna 'Age'
users1.head()

    User-ID                               Location   Age age_group
1         2              stockton, california, usa  18.0     15-24
3         4              porto, v.n.gaia, portugal  17.0     15-24
19       20           langhorne, pennsylvania, usa  19.0     15-24
23       24                  cologne, nrw, germany  19.0     15-24
27       28  freiburg, baden-wuerttemberg, germany  24.0     15-24

In [ ]:
users2 = users[users['age_group']== 'err']
users2.head()

      User-ID                                 Location  ...        State age_group
1288     1289                san jose, california, usa  ...          usa       err
1322     1323                 milano, lombardia, italy  ...        italy       err
1578     1579             akure, ondo/nigeria, nigeria  ...      nigeria       err
3084     3085         zürich, switzerland, switzerland  ...  switzerland       err
3210     3211  le mesnil saint denis, yvelines, france  ...       france       err

[5 rows x 7 columns]

### 11. Find the books that appear only in the goodbooks datasets.

In [ ]:
#Prima SOLUZIONE
only_good_books = good_books[good_books['isbn'].isin(books['ISBN'])==False] #attraverso la funzione isin() ricerchiamo i record il cui isnb compare solo nel dataset 'goodboks'
only_good_books.head()

   book_id  ...                                    small_image_url
0        1  ...  https://images.gr-assets.com/books/1447303603s...
1        2  ...  https://images.gr-assets.com/books/1474154022s...
2        3  ...  https://images.gr-assets.com/books/1361039443s...
3        4  ...  https://images.gr-assets.com/books/1361975680s...
4        5  ...  https://images.gr-assets.com/books/1490528560s...

[5 rows x 23 columns]

In [ ]:
#Seconda SOLUZIONE
real_goodbooks=[]

for isbn_books in books['ISBN']:  #iterazione entro la colonna isbn del dataset books
    for isbn_good in good_books['isbn']:  #iterazione entro la colonna isbn del dataset good_books
        if str(isbn_books) != str(isbn_good): #ricerca del match 
            real_goodbooks.append(str(isbn_good)) #aggiunga alla lista l'eventuale match!!
print(real_goodbooks)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

### 12. Assuming that each pair (author, title) identifies a book, for each book find the number of times it appears in the books dataset. Which books appear the most times?

In [ ]:
books_rows = books.groupby(['Book-Author', 'Book-Title'], as_index=False).size() #conto il numero di volte in cui un libro compare nel dataset (raggruppando per autore e titolo)
books_rows

                             Book-Author  ... size
0                               D. Chiel  ...    1
1                           J. D. Landis  ...    1
2                            Mimma Balia  ...    1
3                                'N Sync  ...    1
4       142 moms from all over the world  ...    1
...                                  ...  ...  ...
251178          Ã?dÃÂ¶n von HorvÃÂ¡th  ...    1
251179          Ã?dÃÂ¶n von HorvÃÂ¡th  ...    1
251180       Ã?Ã?dÃ?ÃÂ¶n von Horvath  ...    1
251181               Ã?Ã?pictÃ?ÃÂ¨te  ...    1
251182                  Ã?Ã?ric Holder  ...    1

[251183 rows x 3 columns]

In [ ]:
books_rows.loc[books_rows['size'].idxmax()] #estraggo la riga che contiene il libro che compare più volte nel dataset (21 volte)

              Book-Author    Book-Title  size
150649  Louisa May Alcott  Little Women    21

### 13. Find the author with the highest average rating according to the goodbooks datasets.

In [ ]:
good_books.iloc[good_books['average_rating'].idxmax()][['authors', 'average_rating']]

authors           J.K. Rowling, Mary GrandPrÃ©
average_rating                            4.61
Name: 24, dtype: object